# SOC Analysis Environment Example Configuration
ABUSEIPDB_API_KEY=
VT_API_KEY=
VIRUSTOTAL_API_KEY=
THREAT_INTEL_API_KEY=

APP_ENV=development
HOST=127.0.0.1
PORT=8000
DEBUG=True

TEMP_PCAP_DIR=app/temp_pcap
MAX_UPLOAD_SIZE_MB=50
